<div class="section">
  <div class="appointment-container">
    <!--  -->
    <div class="appointment-head">
      <div>
        <img src="/assets/appointment-logo.png" alt="appointment-logo" />
        <p>{{ "appointment.previous" | translate }}</p>
      </div>

      <div>
        <a
          routerLink="/appointment"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="appointment-link"
        >
          <span>{{ "appointment.newVisit" | translate }}</span>
          <img
            [src]="
              '/assets/arrow-' +
              (currentLang === 'ar' ? 'left' : 'right') +
              '.svg'
            "
            [alt]="'appointment.arrowAlt' | translate"
          />
        </a>
        <img src="/assets/logo1.svg" alt="appointment-logo" />
      </div>
    </div>

    <!--  -->
    <div class="appointment-content">
      <!--  -->
      <a
        routerLink="/upcoming-appointments"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="page-link appointment-page-link"
      >
        <p>{{ "appointment.upcomingAppointments" | translate }}</p>

        <img
          [src]="
            '/assets/arrow-' +
            (currentLang === 'ar' ? 'left' : 'right') +
            '.svg'
          "
          [alt]="'card.content.navigation.prev.arrowAlt' | translate"
        />
      </a>
      <!-- Displaying Paginated Cards -->
      <div class="prev-appointment-cards">
        <div
          *ngFor="let appointment of getPaginatedAppointments()"
          class="prev-appointment-card"
        >
          <div class="card-row-1">
            <div class="card-visit">
              <img src="/assets/visit-icon.png" alt="" />
              <p>
                <span>{{ "appointment.visitNumber" | translate }} </span>
                <span>({{ appointment.visitnumber }})</span>
              </p>
            </div>

            <div>
              <div class="card-date">
                <img src="/assets/date-icon.png" alt="" />
                <p>{{ appointment.date }}</p>
              </div>
              <div class="card-time">
                <img src="/assets/time-icon.png" alt="" />
                <p>{{ appointment.time }}</p>
              </div>
            </div>
          </div>

          <div class="card-row-2">
            <div>
              <span>{{ "appointment.serviceName" | translate }}: </span>
              <span>{{ appointment.servicename }}</span>
            </div>
            <div>
              <span>{{ "appointment.employeeName" | translate }}: </span>
              <span>{{ appointment.employeename }}</span>
            </div>
          </div>

          <div *ngIf="appointment?.rating === false">
            <button class="page-link" (click)="displayRatingContainer()">
              <span> {{ "appointment.sessionrating" | translate }}</span>
              <img
                [src]="
                  '/assets/arrow-' +
                  (currentLang === 'ar' ? 'left' : 'right') +
                  '.svg'
                "
                [alt]="'card.content.navigation.prev.arrowAlt' | translate"
              />
            </button>
          </div>

          <div *ngIf="appointment?.rating === true" class="card-row-3">
            <div class="servicerating-card">
              <div>
                <p>{{ "appointment.serviceRating" | translate }}</p>
                <div>
                  <img
                    *ngFor="let star of [].constructor(5); let i = index"
                    [src]="
                      i < appointment.servicerating
                        ? 'assets/star-icon1.png'
                        : 'assets/star-icon2.png'
                    "
                    [alt]="
                      i < appointment.servicerating
                        ? 'Filled star'
                        : 'Empty star'
                    "
                    class="star"
                  />
                </div>
              </div>
              <div>{{ appointment.servicedescription }}</div>
            </div>
            <div class="card-line"></div>
            <div class="servicerating-card">
              <div>
                <p>{{ "appointment.employeeRating" | translate }}</p>
                <div>
                  <img
                    *ngFor="let star of [].constructor(5); let i = index"
                    [src]="
                      i < appointment.employeerating
                        ? 'assets/star-icon1.png'
                        : 'assets/star-icon2.png'
                    "
                    [alt]="
                      i < appointment.employeerating
                        ? 'Filled star'
                        : 'Empty star'
                    "
                    class="star"
                  />
                </div>
              </div>
              <div>{{ appointment.employeedescription }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <div class="pagination">
        <div
          class="pagination-arrow-prev"
          (click)="paginate(currentPage - 1)"
          [class.disabled]="currentPage === 1"
        >
          <img src="/assets/pagination-prev.svg" alt="" />
        </div>
        <div
          class="pagination-number"
          *ngFor="let page of getPaginationRange()"
          (click)="paginate(page)"
          [class.active]="currentPage === page"
        >
          {{ page }}
        </div>
        <div
          class="pagination-arrow-next"
          (click)="paginate(currentPage + 1)"
          [class.disabled]="currentPage === totalPages"
        >
          <img src="/assets/pagination-next.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rating-container">
  <form class="rating-form" (ngSubmit)="onSubmitRatingForm()">
    <div class="service-rate">
      <div>
        <label for="">{{ "rating.service_rating" | translate }}</label>
        <p-rating [(ngModel)]="ratingValue1" name="rating1"></p-rating>
      </div>
      <div>
        <p class="text-counter">200/{{ textarea1.length }}</p>
        <img
          src="/assets/rate-formIcon.svg"
          alt="rate-formIcon"
          class="rate-formIcon"
        />
        <textarea
          [(ngModel)]="textarea1"
          name="comment1"
          rows="5"
          cols="30"
          pTextarea
          [autoResize]="true"
          maxlength="200"
          placeholder="{{ 'rating.comment_placeholder' | translate }}"
        ></textarea>
      </div>
    </div>
    <div class="rating-form-line"></div>
    <div class="service-rate">
      <div>
        <label for="">{{ "rating.employee_service_rating" | translate }}</label>
        <p-rating [(ngModel)]="ratingValue2" name="rating2"></p-rating>
      </div>
      <div>
        <p class="text-counter">200/{{ textarea2.length }}</p>
        <img
          src="/assets/rate-formIcon.svg"
          alt="rate-formIcon"
          class="rate-formIcon"
        />
        <textarea
          [(ngModel)]="textarea2"
          name="comment2"
          rows="5"
          cols="30"
          pTextarea
          [autoResize]="true"
          maxlength="200"
          placeholder="{{ 'rating.comment_placeholder' | translate }}"
        ></textarea>
      </div>
    </div>
    <button class="page-link" type="submit">
      <span>{{ "rating.add_rating" | translate }}</span>
      <img
        [src]="
          '/assets/arrow-' + (currentLang === 'ar' ? 'left' : 'right') + '.svg'
        "
        [alt]="
          'rating.arrow_' + (currentLang === 'ar' ? 'left' : 'right')
            | translate
        "
      />
    </button>
  </form>
</div>
