<footer>
  <div class="section">
    <div class="container">
      <div class="footer-nav">
        <div class="footer-info">
          <img src="/assets/logo-footer.png" alt="logo" />
          <div class="copyright">
            <p>{{ "footer.rights_reserved" | translate }}</p>
            <p>{{ "footer.saudi_engineers" | translate }}</p>
          </div>
          <div class="working-hours">
            <p>{{ "footer.working_hours" | translate }}</p>
            <p>{{ "footer.weekend_off" | translate }}</p>
          </div>
        </div>
        <nav>
          <div class="nav-col">
            <span>{{ "footer.sections.memberships" | translate }}</span>
            <div>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.types" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.fees" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.benefits" | translate }}
              </a>
            </div>
          </div>
          <div class="nav-col">
            <span>{{ "footer.sections.e_services" | translate }}</span>
            <div>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.login" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.new_user" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.services_portal" | translate }}
              </a>
            </div>
          </div>
          <div class="nav-col">
            <span>{{ "footer.sections.media_center" | translate }}</span>
            <div>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.news" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.events" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.annual_report" | translate }}
              </a>
            </div>
          </div>
          <div class="nav-col">
            <span>{{ "footer.sections.support" | translate }}</span>
            <div>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.contact_us" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.faq" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.request_info" | translate }}
              </a>
            </div>
          </div>
          <div class="nav-col">
            <span>{{ "footer.sections.policies" | translate }}</span>
            <div>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.privacy_policy" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.disclaimer" | translate }}
              </a>
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                {{ "footer.sections.info_access_policy" | translate }}
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="footer-social">
        <p class="number">920020820</p>

        <ul>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <img src="/assets/facebook-icon.svg" alt="facebook link"
          /></a>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <img src="/assets/x-icon.svg" alt="facebook link"
          /></a>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <img src="/assets/linkedIn-icon.svg" alt="facebook link"
          /></a>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <img src="/assets/youtube-icon.svg" alt="facebook link"
          /></a>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <img src="/assets/apple-icon.svg" alt="facebook link"
          /></a>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <img src="/assets/android-icon.svg" alt="facebook link"
          /></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
