.time-input {
  display: grid;
  gap: 8px;
  div {
    position: relative;
  }

  input {
    width: 100%;
  }

  img {
    position: absolute;
    left: 14px;
    top: 17px;

    width: 21px;
    height: 21px;
  }
}
