<div class="section">
  <div class="appointment-container">
    <!--  -->
    <div class="appointment-head">
      <div>
        <img src="/assets/appointment-logo.png" alt="appointment-logo" />
        <p>{{ "appointment.myAppointmentsList" | translate }}</p>
      </div>

      <div>
        <a
          routerLink="/appointment"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="appointment-link"
        >
          <span>{{ "appointment.newVisit" | translate }}</span>
          <img
            [src]="
              '/assets/arrow-' +
              (currentLang === 'ar' ? 'left' : 'right') +
              '.svg'
            "
            [alt]="'appointment.arrowAlt' | translate"
          />
        </a>
        <img src="/assets/logo1.svg" alt="appointment-logo" />
      </div>
    </div>
    <!--  -->
    <div class="appointment-link-card">
      <div class="appointment-link-card-head">
        <img src="/assets/time.png" alt="time icon" />
        <p>{{ "appointment.previousAppointments" | translate }}</p>
      </div>
      <p>{{ "appointment.previousAppointmentsDescription" | translate }}</p>
      <a
        routerLink="/previous-appointments"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="page-link"
      >
        <span>{{ "appointment.goToPreviousAppointments" | translate }}</span>
        <img
          [src]="
            '/assets/arrow-' +
            (currentLang === 'ar' ? 'left' : 'right') +
            '.svg'
          "
          [alt]="'card.content.navigation.prev.arrowAlt' | translate"
        />
      </a>
    </div>
    <!--  -->
    <div class="appointment-link-card">
      <div class="appointment-link-card-head">
        <img src="/assets/time.png" alt="time icon" />
        <p>{{ "appointment.upcomingAppointments" | translate }}</p>
      </div>
      <p>{{ "appointment.upcomingAppointmentsDescription" | translate }}</p>
      <a
        routerLink="/upcoming-appointments"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="page-link"
      >
        <span>{{ "appointment.goToUpcomingAppointments" | translate }}</span>
        <img
          [src]="
            '/assets/arrow-' +
            (currentLang === 'ar' ? 'left' : 'right') +
            '.svg'
          "
          [alt]="'card.content.navigation.prev.arrowAlt' | translate"
        />
      </a>
    </div>
  </div>
</div>
