<div class="login">
  <div class="section steps-section">
    <div class="container">
      <div class="form-steps-container">
        <div class="scheduling-visit">
          <img src="/assets/tree-icon.svg" alt="" />
          <p>تحديد زيارة</p>
        </div>

        <div class="form-steps">
          <div class="form-step-numbers">
            <div class="form-step-number active">
              <span> 1 </span>
            </div>
            <div class="line"></div>
            <div class="form-step-number"><span> 2 </span></div>
            <div class="line"></div>
            <div class="form-step-number"><span> 3 </span></div>
          </div>
          <div class="form-step-text">
            <p>تسجيل الدخول</p>
            <p>نوع الخدمة</p>
            <p>اختيار الموعد</p>
          </div>
        </div>

        <img src="/assets/logo-footer.png" alt="" />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">hi</div>
  </div>
</div>
