<div class="section1">
  <p>لوحة التحكم - الرئيسية</p>
</div>

<div class="section2">
  <p-tabs value="0">
    <div class="section2-content1">
      <div>
        <p>احصائيات عدد المواعيد</p>
        <span class="vertical-line"></span>
        <p-tablist>
          <p-tab value="0">اليوم</p-tab>
          <p-tab value="1">الاسبوع</p-tab>
          <p-tab value="2">السنة</p-tab>
        </p-tablist>
      </div>
      <div>
        <p-select
          [options]="branches"
          [(ngModel)]="selectedBranch"
          optionLabel="name"
          placeholder="تحدد الفرع"
          class="w-full md:w-56"
          (onChange)="filterCards()"
        />

        <app-date-picker (dateChanged)="onDateChange($event)"></app-date-picker>
      </div>
    </div>
    <div class="line-horizontal"></div>
    <div class="section2-content2">
      <p-tabpanels>
        <p-tabpanel value="0">
          <div *ngIf="filteredDayCardData.length > 0">
            <div class="branch-name">
              {{ filteredDayCardData[0].branch }}
            </div>
            <div class="cards-container">
              <div *ngFor="let group of filteredDayCardData" class="card-group">
                <p>{{ group.date }}</p>
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredDayCardData.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div *ngIf="filteredWeekCardData.length > 0">
            <div class="branch-name">
              {{ filteredWeekCardData[0].branch }}
            </div>
            <div class="cards-container">
              <div
                *ngFor="let group of filteredWeekCardData"
                class="card-group"
              >
                <p>{{ group.week }}</p>
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredWeekCardData.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <div *ngIf="filteredYearCardData.length > 0">
            <div class="branch-name">
              {{ filteredYearCardData[0].branch }}
            </div>
            <div class="cards-container">
              <div
                *ngFor="let group of filteredYearCardData"
                class="card-group"
              >
                <p>{{ group.year }}</p>
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredYearCardData.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </div>
  </p-tabs>
</div>

<div class="section3">
  <div class="chart">
    <div class="chart-head">
      <p>الأفرع والخدمات</p>
      <div>
        <p-select
          [options]="chartbranches"
          [(ngModel)]="selectedchartbranch"
          optionLabel="name"
          placeholder="تحدد الفرع"
          class="w-full md:w-56"
          (onChange)="onDropdownChange()"
        />
        <p-select
          [options]="services"
          [(ngModel)]="selectedservice"
          optionLabel="name"
          placeholder="تحدد الخدمة"
          class="w-full md:w-56"
          (onChange)="onDropdownChange()"
        />
        <p-select
          [options]="years"
          [(ngModel)]="selectedYear"
          optionLabel="name"
          placeholder=" تحديد الشهر"
          class="w-full md:w-56"
          (onChange)="onDropdownChange()"
        />
      </div>
    </div>
    <p-chart
      type="bar"
      [data]="basicData"
      [options]="basicOptions"
      width="677px"
    />
  </div>

  <div class="section3-tabs">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">
          <img src="/assets/arrow-right-tabs.svg" alt="arrow icon" />
        </p-tab>
        <div class="tabs">
          <p-tab value="0">مشرفين</p-tab>
          <p-tab value="1">موظفين</p-tab>
        </div>
        <p-tab value="1">
          <img src="/assets/arrow-left-tabs.svg" alt="arrow icon" />
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="table">
            <div class="table-row table-head">
              <p>الاسم</p>
              <p>انجاز الافرع</p>
              <p>مشاكل محلولة</p>
              <p>التقيم العام</p>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="table">
            <div class="table-row table-head">
              <p>الاسم</p>
              <p>موعد مكتمل</p>
              <p>معدل الانجاز</p>
              <p>التقيم العام</p>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
            <div class="table-row">
              <p>صالح الزويد</p>
              <p>23%</p>
              <p>01/04</p>
              <div class="table-stars">
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon1.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
                <img src="/assets/star-icon2.png" alt="" />
              </div>
            </div>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>

<div class="section4">
  <p-tabs value="0">
    <div class="section2-content1">
      <div>
        <p>الحجوزات</p>
        <span class="vertical-line"></span>
        <p-tablist>
          <p-tab value="0">الاعتماد المهني</p-tab>
          <p-tab value="1">
            المكاتب والشركات الهندسية
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.5 8.5H1.5M1.5 8.5L8.5 15.5M1.5 8.5L8.5 1.5"
                stroke="#223042"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </p-tab>
          <p-tab value="2">
            الخبرة الفنية

            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.5 8.5H1.5M1.5 8.5L8.5 15.5M1.5 8.5L8.5 1.5"
                stroke="#223042"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </p-tab>
          <p-tab value="3"
            >الشعب واللجان الهندسية

            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.5 8.5H1.5M1.5 8.5L8.5 15.5M1.5 8.5L8.5 1.5"
                stroke="#223042"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </p-tab>
        </p-tablist>
      </div>
      <div>
        <app-date-picker
          (dateChanged)="onReservationsDateChange($event)"
        ></app-date-picker>
      </div>
    </div>
    <div class="line-horizontal"></div>
    <div class="section2-content2">
      <p-tabpanels>
        <p-tabpanel value="0">
          <div *ngIf="filteredReservationsData.length > 0">
            <div class="branch-name">
              {{ filteredReservationsData[0].date }}
            </div>
            <div class="cards-container">
              <div
                *ngFor="let group of filteredReservationsData"
                class="card-group"
              >
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredReservationsData.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div *ngIf="filteredReservationsData2.length > 0">
            <div class="branch-name">
              {{ filteredReservationsData2[0].date }}
            </div>
            <div class="cards-container">
              <div
                *ngFor="let group of filteredReservationsData2"
                class="card-group"
              >
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredReservationsData2.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <div *ngIf="filteredReservationsData3.length > 0">
            <div class="branch-name">
              {{ filteredReservationsData3[0].date }}
            </div>
            <div class="cards-container">
              <div
                *ngFor="let group of filteredReservationsData3"
                class="card-group"
              >
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredReservationsData3.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
        <p-tabpanel value="3">
          <div *ngIf="filteredReservationsData4.length > 0">
            <div class="branch-name">
              {{ filteredReservationsData4[0].date }}
            </div>
            <div class="cards-container">
              <div
                *ngFor="let group of filteredReservationsData4"
                class="card-group"
              >
                <div class="card-numbers">
                  <div
                    *ngFor="let card of group.cards"
                    class="card-number"
                    [ngClass]="{
                      blue: card.type === 'upcoming',
                      yellow: card.type === 'scheduled',
                      green: card.type === 'completed',
                      red: card.type === 'cancelled',
                    }"
                  >
                    <div>
                      <img
                        [src]="
                          '/assets/card-number-icon' +
                          (card.type === 'upcoming'
                            ? ''
                            : card.type === 'scheduled'
                              ? '2'
                              : card.type === 'completed'
                                ? '3'
                                : '4') +
                          '.png'
                        "
                        alt="card-icon"
                      />
                      <p>{{ card.title }}</p>
                    </div>
                    <div>
                      <p>{{ card.value }}</p>
                      <div
                        class="label"
                        [ngClass]="{
                          green: card.trend === 'up',
                          red: card.trend === 'down',
                        }"
                      >
                        <img
                          [src]="'/assets/card-arrow-' + card.trend + '.svg'"
                          alt="trend-arrow"
                        />
                        <span>{{ card.trendValue }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="filteredReservationsData4.length === 0">
            <p>لا توجد بيانات مطابقة للفرع والتاريخ المحددين.</p>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </div>
  </p-tabs>
</div>
