<div class="section1">
  <p>
    <span>لوحة التحكم - الافرع </span>
    <span>- </span>
    <span>الخدمات</span>
  </p>
</div>

<div class="section2">
  <div class="table-inputs">
    <div class="search-group">
      <p>اجمالي عدد الافرع ({{ filteredServiceCards.length }})</p>
      <p-iconfield>
        <input
          type="text"
          pInputText
          placeholder="البحث"
          [(ngModel)]="searchTerm"
          (input)="applySearch()"
        />
        <img src="/assets/search-icon.svg" alt="" />
      </p-iconfield>
    </div>
    <div class="table-group">
      <div class="selectors">
        <app-selector
          [options]="statusOptions"
          [(ngModel)]="selectedStatus"
          [placeholder]="'الحالة'"
          name="selectOption"
          (change)="applyFilters()"
        >
        </app-selector>
      </div>
      <div class="page-link" (click)="openModal('formContainer')">
        إضافة جديد
      </div>
    </div>
  </div>
  <div *ngIf="filteredServiceCards.length === 0" class="no-data-message">
    لا توجد بيانات
  </div>
  <div class="service-cards">
    <div
      class="service-card"
      *ngFor="let card of filteredServiceCards; let i = index"
    >
      <div class="service-card--head">
        <img src="/assets/service-card.svg" alt="" />
        <p>{{ card.title }}</p>
      </div>
      <div class="service-card--setting">
        <div class="service-availability">
          <p>{{ card.switchState ? "مفعلة" : "غير مفعلة" }}</p>
          <app-switch-input
            [isChecked]="card.switchState"
            (toggleChange)="handleSwitchChange(i, $event)"
          ></app-switch-input>
        </div>
        <div class="service-btns">
          <div class="edit-btn" (click)="openActivationModal(card)">
            <span>تعديل</span>
            <img src="/assets/edit-icon.svg" alt="" />
          </div>
          <div class="del-btn" (click)="openDeleteModal(card)">
            <span>حذف</span>
            <img src="/assets/delete-icon.svg" alt="" />
          </div>
        </div>
      </div>
      <div>
        <div class="branch-heading">الفروع المرتبطة:</div>
        <div class="service-card-branches">
          <div class="branch" *ngFor="let branch of card.branches">
            {{ branch }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="add-new-service modal"
  *ngIf="isModalOpen && currentModal === 'formContainer'"
>
  <form (ngSubmit)="onSubmitForm()">
    <div class="form-head">اضافة خدمة جديدة</div>
    <div class="form-row">
      <app-input
        label="اسم الخدمة"
        placeholder="ادخل اسم الخدمة"
        name="serviceName"
        ngModel
      ></app-input>
      <app-selector
        label="الحالة"
        placeholder="اختر (مفعلة/ معطلة)"
        name="serviceStatus"
      ></app-selector>
    </div>
    <div class="add-new-service-btns">
      <div class="form-btn form-exit" (click)="closeModal()">
        <span>الغاء</span>
        <img src="/assets/form-exit.svg" alt="" />
      </div>
      <button type="submit" class="form-btn form-submit-btn">
        <span>حفظ</span> <img src="/assets/form-submit.svg" alt="" />
      </button>
    </div>
  </form>
</div>
<app-confirmdelete
  *ngIf="showDeleteModal"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
>
</app-confirmdelete>
<app-confirmactivation
  *ngIf="showActivationModal"
  (confirm)="confirmActivation()"
  (close)="closeActivationModal()"
>
</app-confirmactivation>
