<nav id="sidebar">
  <ul>
    <li>
      <a routerLink="/dashboard" class="logo">
        <img src="/assets/logo-footer.png" alt="" />
      </a>
      <button (click)="toggleSidebar()" id="toggle-btn">
        <img src="/assets/toggle-sidebar.svg" alt="" />
      </button>
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <img src="/assets/sidebarnav-1.svg" alt="sidebar nav icon" />
        <span>الرئيسية</span>
      </a>
    </li>
    <li>
      <button (click)="toggleSubMenu($event)" class="dropdown-btn">
        <img src="/assets/sidebarnav-2.svg" alt="sidebar nav icon" />
        <span>المشرفين والموظفين</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"
          />
        </svg>
      </button>
      <ul class="sub-menu">
        <div>
          <a
            routerLink="/dashboard/supervisorsandemployees"
            routerLinkActive="active"
          >
            <span>المشرفين والموظفين</span>
          </a>
          <a
            routerLink="/dashboard/administratordata"
            routerLinkActive="active"
          >
            <span>بينات المشرف</span>
          </a>
          <a routerLink="/dashboard/employeedata" routerLinkActive="active">
            <span>بينات الموظف</span>
          </a>
        </div>
      </ul>
    </li>
    <li>
      <button (click)="toggleSubMenu($event)" class="dropdown-btn">
        <img src="/assets/sidebarnav-3.svg" alt="sidebar nav icon" />
        <span>الأفرع</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"
          />
        </svg>
      </button>
      <ul class="sub-menu">
        <div>
          <li>
            <a routerLink="/dashboard/branchdata" routerLinkActive="active"
              >بينات الأفرع</a
            >
          </li>
          <li>
            <a routerLink="/dashboard/addnewbranch" routerLinkActive="active"
              >اضافة فرع جديد</a
            >
          </li>
        </div>
      </ul>
    </li>
    <li>
      <a routerLink="/dashboard/services" routerLinkActive="active">
        <img src="/assets/sidebarnav-4.svg" alt="sidebar nav icon" />
        الخدمات
      </a>
    </li>
    <li>
      <button (click)="toggleSubMenu($event)" class="dropdown-btn">
        <img src="/assets/sidebarnav-5.svg" alt="sidebar nav icon" />

        <span>مواعيد</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"
          />
        </svg>
      </button>
      <ul class="sub-menu">
        <div>
          <div>
            <a
              routerLink="/dashboard/managingworkschedules"
              routerLinkActive="active"
            >
              ادارة مواعيد العمل
            </a>
            <a routerLink="/dashboard/services" routerLinkActive="active">
              ادارة مواعيد الحجوزات
            </a>
            <a routerLink="/dashboard/services" routerLinkActive="active">
              ادارة مواعيد الموظفين
            </a>
          </div>
        </div>
      </ul>
    </li>
    <li>
      <button (click)="toggleSubMenu($event)" class="dropdown-btn">
        <img src="/assets/sidebarnav-6.svg" alt="sidebar nav icon" />

        <span>الحجوزات</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"
          />
        </svg>
      </button>
      <ul class="sub-menu">
        <div>
          <div>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </div>
        </div>
      </ul>
    </li>

    <li class="user">
      <a href="index.html">
        <img
          src="/assets/user-img.png"
          alt="sidebar nav icon"
          class="user-img"
        />
        <div>
          <span>مرحبًا بعودتك 👋</span>
          <span>عبدالكريم العليان</span>
          <span>Admin</span>
        </div>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="logout-icon"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.3"
            d="M8.55029 6C8.5971 4.94955 9.05565 3.95979 9.82671 3.24488C10.5978 2.52996 11.6193 2.14741 12.6703 2.18H17.0003C18.0581 2.13662 19.0899 2.51434 19.8697 3.23038C20.6494 3.94641 21.1135 4.94237 21.1603 6V18C21.1161 19.0594 20.6531 20.0579 19.8731 20.7761C19.093 21.4943 18.0597 21.8733 17.0003 21.83H12.6703C11.6177 21.8625 10.5947 21.4786 9.82332 20.7616C9.05198 20.0445 8.59455 19.0522 8.55029 18V6Z"
            fill="#223042"
          />
          <path
            d="M15.3102 11.25H5.40016L7.05016 9.61C7.19061 9.46937 7.2695 9.27875 7.2695 9.08C7.2695 8.88125 7.19061 8.69063 7.05016 8.55C6.98138 8.48076 6.89959 8.42581 6.80949 8.38831C6.71938 8.35082 6.62275 8.33151 6.52516 8.33151C6.42757 8.33151 6.33094 8.35082 6.24084 8.38831C6.15073 8.42581 6.06894 8.48076 6.00016 8.55L3.06016 11.47C2.91971 11.6106 2.84082 11.8012 2.84082 12C2.84082 12.1988 2.91971 12.3894 3.06016 12.53L6.00016 15.45C6.06906 15.5206 6.15154 15.5764 6.24264 15.6143C6.33373 15.6521 6.43154 15.671 6.53016 15.67C6.6287 15.6705 6.72634 15.6512 6.81735 15.6135C6.90837 15.5757 6.99092 15.5201 7.06016 15.45C7.20061 15.3094 7.2795 15.1188 7.2795 14.92C7.2795 14.7212 7.20061 14.5306 7.06016 14.39L5.40016 12.75H15.3102C15.5091 12.75 15.6998 12.671 15.8405 12.5303C15.9811 12.3897 16.0602 12.1989 16.0602 12C16.0602 11.8011 15.9811 11.6103 15.8405 11.4697C15.6998 11.329 15.5091 11.25 15.3102 11.25Z"
            fill="#223042"
          />
        </svg>
      </a>
    </li>
  </ul>
</nav>
