<div class="section1">
  <p>
    <span>لوحة التحكم - الحجوزات - </span>
    <span>قادمة</span>
  </p>
</div>

<div class="section2">
  <div class="bookings-header">
    <div class="bookings-search">
      <p>اجمالي عدد الحجوزات (5 حجوزات)</p>
      <p-iconfield>
        <input type="text" pInputText placeholder="البحث" />
        <img src="/assets/search-icon.svg" alt="" />
      </p-iconfield>
    </div>
    <div class="bookings-inputs">
      <app-selector [placeholder]="'قادمة'" name="selectOption" />
      <app-timepicker></app-timepicker>
      <app-date-picker></app-date-picker>
    </div>
  </div>

  <div class="booking-cards">
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
    <div class="booking-card">
      <div class="card-row-1">
        <div class="card-visit">
          <img src="/assets/visit-icon.png" alt="" />
          <p>
            <span>زيارة رقم </span>
            <span> (10)</span>
          </p>
        </div>

        <div>
          <div class="card-date">
            <img src="/assets/date-icon.png" alt="" />
            <p>10/1/2025</p>
          </div>
          <div class="card-time">
            <img src="/assets/time-icon.png" alt="" />
            <p>10:30 صباحا</p>
          </div>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الخدمة: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>الفرع: </span>
          <span>جدة</span>
        </div>
      </div>

      <div class="card-row-2">
        <div>
          <span>الموظف: </span>
          <span>الاعتماد المهني للمهندسين</span>
        </div>
        <div>
          <span>العميل: </span>
          <span>خالد عبدالله المصعبي</span>
        </div>
      </div>

      <div class="card-row-3">
        <div class="remove-btn">
          <span>حذف</span>
          <img src="/assets/delete-icon.svg" alt="" />
        </div>
        <a
          routerLink="/upcoming-appointments"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="page-link"
        >
          <span>الذهاب الى الجلسة</span>
          <img src="/assets/arrow-left.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
