<div>
  <label [for]="inputId">{{ label }}</label>
  <div class="password-container">
    <input
      [id]="inputId"
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="placeholder"
      [name]="name"
      (input)="onValueChange($event)"
    />
    <img
      [src]="
        showPassword
          ? '/assets/password-icon1.svg'
          : '/assets/password-icon2.svg'
      "
      alt="Toggle password visibility"
      (click)="togglePasswordVisibility()"
      class="toggle-icon"
    />
  </div>
</div>
