<div>
  <label *ngIf="label !== '' && label !== null && label !== undefined" for="">{{
    label
  }}</label>
  <div class="selector">
    <select
      [(ngModel)]="value"
      (ngModelChange)="onSelectionChange($event)"
      [ngModelOptions]="{ standalone: true }"
    >
      <option [value]="null" disabled selected>
        {{ placeholder }}
      </option>
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <svg
      width="12"
      height="8"
      viewBox="0 0 12 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1.5L6 6.5L11 1.5"
        stroke="#3F5372"
        stroke-width="1.67"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
