@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Cairo", sans-serif;
  position: relative;
}

.section {
  padding: 4rem 8rem;
}

.container {
  max-width: 124.8rem;
  width: 100%;
  margin: 0 auto;
}

/* Form Steps */

.active-step {
  background-color: #e3ad56 !important;
}

.form-steps-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  gap: 4rem;
  max-width: 115rem;
  margin: 0 auto;
  padding: 6rem 2.4rem;
  align-items: center;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.13);
  border-radius: 16px;
  background-color: #ffffff;
}
.scheduling-visit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  color: #223042;
  font-weight: 500;
}

.form-step-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
}

.form-step-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  font-weight: 700;
  color: #223042;
  font-size: 1.4rem;
  line-height: 20px;
}
.form-step-text p:nth-child(1) {
  text-align: left;
}
html[dir="rtl"] .form-step-text p:nth-child(1) {
  text-align: right;
}
.form-step-text p:nth-child(2) {
  text-align: center;
}
.form-step-text p:nth-child(3) {
  text-align: right;
}
html[dir="rtl"] .form-step-text p:nth-child(3) {
  text-align: left;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #e4e4e4;
}

.form-step-number {
  flex-shrink: 0;
  background: #2e3d52;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #e4e4e4;
}
.form-step-number span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.section.steps-section {
  background: linear-gradient(to bottom, #eef5f9 80%, #fff 20%);
  padding-bottom: 0;
}

html[dir="ltr"] .form-group img {
  left: 10px;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

html[dir="ltr"] .form-group input {
  padding: 12px 9px 12px 40px !important;
}
html[dir="ltr"] .pagination-arrow-next,
html[dir="ltr"] .pagination-arrow-prev {
  transform: rotate(180deg);
}
html[dir="rtl"] .form-group img {
  left: auto;
  right: 10px;
  transform: translateX(-50%) translateY(-50%);
}

.card-container {
  max-width: 124.8rem;
  width: 100%;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.head-style {
  width: 7px;
  height: 46px;
  background: #e3ad56;
  border-radius: 4px 0px 0px 4px;
}

html[dir="ltr"] .head-style {
  border-radius: 0px 4px 4px 0px !important;
}

.card-head {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5rem 0 2rem 0;
}

.card-head p {
  font-size: 2rem;
  font-weight: 500;
}

.card-content {
  max-width: 108.7rem;
  width: 100%;
  padding: 0 2rem 4rem 2rem;
  margin: 0 auto;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.nav-btns .next-link {
  background: #2e3d52;
  border-radius: 4px;
  padding: 9px 19px;
  display: flex;
  color: #fff;
  gap: 4px;

  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  max-width: 20rem;
  width: 100%;
  cursor: pointer;
  border: none;
  font-family: inherit;
}
.nav-btns .prev-link {
  background: #fff;
  border-radius: 4px;
  padding: 9px 19px;
  display: flex;
  color: #2e3d52;
  gap: 4px;
  border: 1px solid #2e3d52;

  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  max-width: 20rem;
  width: 100%;
}

.appointment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 124.8rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 1.4rem;
  gap: 3.4rem;
}

.appointment-head {
  background-color: #eef5f9;
  padding: 6.4rem 3.2rem;
  width: 100%;
  border-radius: 10px;
}

.appointment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.appointment-head div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.appointment-head div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.appointment-head div p {
  background: linear-gradient(
    90deg,
    #222f42 -0.14%,
    #31415c 33.86%,
    #405372 66.86%,
    #222f42 99.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 700;
}

.appointment-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  padding: 6px;
  background: linear-gradient(
    90deg,
    #222f42 -0.14%,
    #31415c 33.86%,
    #405372 66.86%,
    #222f42 99.85%
  );
  border-radius: 50px;
  width: 21.6rem;
  text-decoration: none;
  color: #fff;
}

.page-link {
  display: flex;
  background: #2e3d52;
  border-radius: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  gap: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

.appointment-page-link {
  max-width: 32rem;
  margin-right: auto;
  font-size: 2rem !important;
  background-color: #e3ad56 !important;
}

.p-rating-icon {
  width: 29px !important;
  height: 29px !important;
  color: #b2aca4 !important;
}

.p-rating-icon-active {
  color: #f8b100 !important;
}

html[dir="ltr"] .text-counter {
  right: 16px !important;
  left: auto;
}

html[dir="ltr"] .rate-formIcon {
  position: absolute;
  right: auto;
  left: 16px;
}

html[dir="ltr"] .service-rate div:nth-child(2) .p-textarea {
  padding: 9px 16px 12px 40px !important;
}

/* Dashboard Styles */

p-iconfield {
  position: relative;
  width: 250px;
  input {
    padding: 12px 16px !important;
    border: 1px solid #e3ad56;
    border-radius: 4px;
    font-family: inherit;
    width: 250px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.p-tablist-tab-list {
  border: none !important;

  p-tab {
    border: none !important;
  }
}

.p-tablist-tab-list {
  display: flex;
  gap: 24px;
}

p-select,
input[type="date"] {
  border: 1px solid #2230424d !important;
  border-radius: 8px !important;
  height: 5rem;
  align-items: center;
  padding: 0 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("/assets/date-picker.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.date-picker {
  position: relative;

  p {
    position: absolute;
    left: 12px;
    background-color: #fff;
    font-weight: 500 !important;
    color: #223042;
    top: 50%;
    transform: translateY(-50%);
  }
}

.card-number {
  border-radius: 8px;
  padding: 16px;
  display: grid;
  gap: 1.6rem;

  div:first-child {
    display: flex;
    gap: 4px;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
  }
  div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 20px;
    }

    .label {
      display: flex;
      align-items: center;
      font-size: 10px;
      gap: 2.5px;
      border: 0.6px solid;
      border-radius: 2px;
      padding: 2px;

      img {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.card-number.blue {
  background: #eef7ff;

  div:first-child p {
    color: #1b71f5;
  }
  div:nth-child(2) p {
    color: #19418f;
    font-weight: 800;
  }
}
.card-number.yellow {
  background-color: #fff8dd;
  div:first-child p {
    color: #e29a00;
  }
  div:nth-child(2) p {
    color: #7c450b;
    font-weight: 800;
  }
}
.card-number.green {
  background-color: #d4f7df;
  div:first-child p {
    color: #0f8c4f;
  }
  div:nth-child(2) p {
    color: #0b492e;
    font-weight: 800;
  }
}
.card-number.red {
  background-color: #ffe4e8;
  div:first-child p {
    color: #de2058;
  }
  div:nth-child(2) p {
    color: #861540;
    font-weight: 800;
  }
}

.label.red {
  border-color: #fd314d !important;
  color: #fd314d !important;
  background-color: #ffe9ebcc !important;
}
.label.green {
  border-color: #00ba38 !important;
  color: #00ba38 !important;
  background-color: #ffffff !important;
}

.p-select-list {
  padding: 10px !important;
  background: #fff;
  gap: 10px !important;
}

.section3-tabs .p-tablist-tab-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4 !important;
  padding-bottom: 10px;
}

.section4 .p-tablist-tab-list {
  gap: 5px !important;
}

.paginator-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 12px;
  margin: 16px 0;

  .paginator-page-number {
    color: #223042;
    font-size: 16px;
  }
  .p-paginator-last,
  .p-paginator-first {
    display: none !important;
  }

  .p-paginator p-select {
    margin-left: auto;
    gap: 10px;
    background-color: #223042;
    border-radius: 4px;

    .p-select-label {
      order: 2;
      color: #ffffff;
    }

    .p-select-dropdown {
      order: 1;
      color: #ffffff;
    }
  }

  .p-paginator-next {
    order: 4;
    margin-right: 5px;
  }
  .p-paginator-prev {
    order: 2;
    margin-left: 5px;
  }

  .p-paginator-pages {
    order: 3;
    display: flex;
    gap: 5px;
  }
  .p-paginator-page {
    width: 30px;
    height: 30px;
    background-color: #eef5f9;
    color: #e3ad56;
    border-radius: 6px;
  }

  .p-paginator-page-selected {
    color: #eef5f9 !important;
    background-color: #e3ad56 !important;
  }
}

.new-account-container {
  .p-tablist-tab-list {
    font-size: 18px;
    font-weight: 700;
    color: #223042;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 0 !important;
  }

  p-tab {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #e4e4e4 !important;
  }
  .p-tab-active {
    border-bottom: 3px solid #2e3d52 !important;
    color: #e3ad56 !important;
  }
}

.form-btn {
  padding: 8px 22.5px;
  width: fit-content;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-exit {
  border: 1px solid #2e3d52;
  border-radius: 4px;
  color: #2e3d52;
}
.form-submit-btn {
  border: 1px solid #2e3d52;
  border-radius: 4px;
  background-color: #2e3d52;

  color: #fff;
}

@media screen and (max-width: 1439px) {
  .section {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 999px) {
  .form-steps-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  .scheduling-visit {
    justify-content: center;
  }
  .form-steps-container img:last-child {
    margin: 0 auto;
  }

  .appointment-head div:nth-child(2) {
    justify-content: space-between;
  }
  .appointment-head div p {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 599px) {
  .section {
    padding: 2rem;
  }
  .nav-btns {
    justify-content: center !important;
  }
  .appointment-head div:nth-child(2) {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .appointment-head {
    justify-content: center;
  }
  .page-link {
    font-size: 1.8rem !important;
  }
}
