@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Cairo", sans-serif;
  position: relative;
}

.section {
  padding: 4rem 8rem;
}

.container {
  max-width: 124.8rem;
  width: 100%;
  margin: 0 auto;
}

/* Form Steps */

.active-step {
  background-color: #e3ad56 !important;
}

.form-steps-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  gap: 4rem;
  max-width: 115rem;
  margin: 0 auto;
  padding: 6rem 2.4rem;
  align-items: center;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.13);
  border-radius: 16px;
  background-color: #ffffff;
}
.scheduling-visit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  color: #223042;
  font-weight: 500;
}

.form-step-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
}

.form-step-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  font-weight: 700;
  color: #223042;
  font-size: 1.4rem;
  line-height: 20px;
}
.form-step-text p:nth-child(1) {
  text-align: left;
}
html[dir="rtl"] .form-step-text p:nth-child(1) {
  text-align: right;
}
.form-step-text p:nth-child(2) {
  text-align: center;
}
.form-step-text p:nth-child(3) {
  text-align: right;
}
html[dir="rtl"] .form-step-text p:nth-child(3) {
  text-align: left;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #e4e4e4;
}

.form-step-number {
  flex-shrink: 0;
  background: #2e3d52;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #e4e4e4;
}
.form-step-number span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.section.steps-section {
  background: linear-gradient(to bottom, #eef5f9 80%, #fff 20%);
  padding-bottom: 0;
}

html[dir="ltr"] .form-group img {
  left: 10px;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

html[dir="ltr"] .form-group input {
  padding: 12px 9px 12px 40px !important;
}
html[dir="ltr"] .pagination-arrow-next,
html[dir="ltr"] .pagination-arrow-prev {
  transform: rotate(180deg);
}
html[dir="rtl"] .form-group img {
  left: auto;
  right: 10px;
  transform: translateX(-50%) translateY(-50%);
}

.card-container {
  max-width: 124.8rem;
  width: 100%;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.head-style {
  width: 7px;
  height: 46px;
  background: #e3ad56;
  border-radius: 4px 0px 0px 4px;
}

html[dir="ltr"] .head-style {
  border-radius: 0px 4px 4px 0px !important;
}

.card-head {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5rem 0 2rem 0;
}

.card-head p {
  font-size: 2rem;
  font-weight: 500;
}

.card-content {
  max-width: 108.7rem;
  width: 100%;
  padding: 0 2rem 4rem 2rem;
  margin: 0 auto;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.nav-btns .next-link {
  background: #2e3d52;
  border-radius: 4px;
  padding: 9px 19px;
  display: flex;
  color: #fff;
  gap: 4px;

  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  max-width: 20rem;
  width: 100%;
  cursor: pointer;
  border: none;
  font-family: inherit;
}
.nav-btns .prev-link {
  background: #fff;
  border-radius: 4px;
  padding: 9px 19px;
  display: flex;
  color: #2e3d52;
  gap: 4px;
  border: 1px solid #2e3d52;

  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  max-width: 20rem;
  width: 100%;
}

.appointment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 124.8rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 1.4rem;
  gap: 3.4rem;
}

.appointment-head {
  background-color: #eef5f9;
  padding: 6.4rem 3.2rem;
  width: 100%;
  border-radius: 10px;
}

.appointment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.appointment-head div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.appointment-head div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.appointment-head div p {
  background: linear-gradient(
    90deg,
    #222f42 -0.14%,
    #31415c 33.86%,
    #405372 66.86%,
    #222f42 99.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 700;
}

.appointment-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  padding: 6px;
  background: linear-gradient(
    90deg,
    #222f42 -0.14%,
    #31415c 33.86%,
    #405372 66.86%,
    #222f42 99.85%
  );
  border-radius: 50px;
  width: 21.6rem;
  text-decoration: none;
  color: #fff;
}

.page-link {
  display: flex;
  background: #2e3d52;
  border-radius: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  gap: 4px;
  cursor: pointer;
}

.appointment-page-link {
  max-width: 32rem;
  margin-right: auto;
  font-size: 2rem !important;
  background-color: #e3ad56 !important;
}

@media screen and (max-width: 1439px) {
  .section {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 999px) {
  .form-steps-container {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  .scheduling-visit {
    justify-content: center;
  }
  .form-steps-container img:last-child {
    margin: 0 auto;
  }

  .appointment-head div:nth-child(2) {
    justify-content: space-between;
  }
  .appointment-head div p {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 599px) {
  .section {
    padding: 2rem;
  }
  .nav-btns {
    justify-content: center !important;
  }
  .appointment-head div:nth-child(2) {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .appointment-head {
    justify-content: center;
  }
  .page-link {
    font-size: 1.8rem !important;
  }
}
