<div class="section1">
  <p>
    <span>لوحة التحكم </span>
    <span>- </span>
    <span>بينات الأفرع</span>
  </p>
</div>

<div class="section2">
  <div class="table-inputs">
    <div class="search-group"></div>
    <div class="table-group">
      <div class="selectors">
        <app-selector
          [placeholder]="'الحد اليومي 40 معاد'"
          [options]="selectorOptions.dailyLimit"
          [(ngModel)]="selectedDailyLimit"
          (ngModelChange)="applyFilters()"
        ></app-selector>

        <app-selector
          [placeholder]="'الحالة'"
          [options]="selectorOptions.status"
          [(ngModel)]="selectedStatus"
          (ngModelChange)="applyFilters()"
        ></app-selector>
      </div>
      <div class="page-link" (click)="openModal('formContainer')">
        إضافة جديد
      </div>
    </div>
  </div>

  <div class="section2-tabs booking-tabs">
    <p-tabs value="0">
      <p-tablist>
        <div class="appointments-tab">
          <p-tab value="0" [disabled]="!switchStates.sunday"> الأحد </p-tab>
          <app-switch-input
            [isChecked]="switchStates.sunday"
            (toggleChange)="handleSwitchChange('sunday')"
          ></app-switch-input>
        </div>
        <div class="appointments-tab">
          <p-tab value="1" [disabled]="!switchStates.monday"> الاثنين </p-tab>
          <app-switch-input
            [isChecked]="switchStates.monday"
            (toggleChange)="handleSwitchChange('monday')"
          ></app-switch-input>
        </div>
        <div class="appointments-tab">
          <p-tab value="2" [disabled]="!switchStates.tuesday"> الثلاثاء </p-tab>
          <app-switch-input
            [isChecked]="switchStates.tuesday"
            (toggleChange)="handleSwitchChange('tuesday')"
          ></app-switch-input>
        </div>
        <div class="appointments-tab">
          <p-tab value="3" [disabled]="!switchStates.wednesday">
            الأربعاء
          </p-tab>
          <app-switch-input
            [isChecked]="switchStates.wednesday"
            (toggleChange)="handleSwitchChange('wednesday')"
          ></app-switch-input>
        </div>
        <div class="appointments-tab">
          <p-tab value="4" [disabled]="!switchStates.thursday"> الخميس </p-tab>
          <app-switch-input
            [isChecked]="switchStates.thursday"
            (toggleChange)="handleSwitchChange('thursday')"
          ></app-switch-input>
        </div>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="booking-cards">
            <div
              class="booking-card"
              *ngFor="let booking of filteredBookings['sunday']"
            >
              <p class="booking-date">{{ booking.date }}</p>
              <p class="booking-time">{{ booking.time }}</p>
              <div class="booking-status">
                <img
                  *ngIf="booking.status"
                  src="/assets/on-switch.svg"
                  alt="on-switch"
                />
                <img
                  *ngIf="!booking.status"
                  src="/assets/off-switch.svg"
                  alt="off-switch"
                />
                <p *ngIf="booking.status === 'محجوز'" class="not-available">
                  محجوز
                </p>
                <p *ngIf="booking.status === 'غير محجوز'" class="available">
                  غير محجوز
                </p>
              </div>
              <div class="booking-btns">
                <div>
                  <img src="/assets/eye-icon.svg" alt="eye-icon" />
                </div>
                <div>
                  <img src="/assets/edit-icon.svg" alt="edit-icon" />
                </div>
                <div>
                  <img src="/assets/delete-icon.svg" alt="delete-icon" />
                </div>
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="booking-cards">
            <div
              class="booking-card"
              *ngFor="let booking of filteredBookings['monday']"
            >
              <p class="booking-date">{{ booking.date }}</p>
              <p class="booking-time">{{ booking.time }}</p>
              <div class="booking-status">
                <img
                  *ngIf="booking.status"
                  src="/assets/on-switch.svg"
                  alt="on-switch"
                />
                <img
                  *ngIf="!booking.status"
                  src="/assets/off-switch.svg"
                  alt="off-switch"
                />
                <p *ngIf="booking.status === 'محجوز'" class="not-available">
                  محجوز
                </p>
                <p *ngIf="booking.status === 'غير محجوز'" class="available">
                  غير محجوز
                </p>
              </div>
              <div class="booking-btns">
                <div>
                  <img src="/assets/eye-icon.svg" alt="eye-icon" />
                </div>
                <div>
                  <img src="/assets/edit-icon.svg" alt="edit-icon" />
                </div>
                <div>
                  <img src="/assets/delete-icon.svg" alt="delete-icon" />
                </div>
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <div class="booking-cards">
            <div
              class="booking-card"
              *ngFor="let booking of filteredBookings['tuesday']"
            >
              <p class="booking-date">{{ booking.date }}</p>
              <p class="booking-time">{{ booking.time }}</p>
              <div class="booking-status">
                <img
                  *ngIf="booking.status"
                  src="/assets/on-switch.svg"
                  alt="on-switch"
                />
                <img
                  *ngIf="!booking.status"
                  src="/assets/off-switch.svg"
                  alt="off-switch"
                />
                <p *ngIf="booking.status === 'محجوز'" class="not-available">
                  محجوز
                </p>
                <p *ngIf="booking.status === 'غير محجوز'" class="available">
                  غير محجوز
                </p>
              </div>
              <div class="booking-btns">
                <div>
                  <img src="/assets/eye-icon.svg" alt="eye-icon" />
                </div>
                <div>
                  <img src="/assets/edit-icon.svg" alt="edit-icon" />
                </div>
                <div>
                  <img src="/assets/delete-icon.svg" alt="delete-icon" />
                </div>
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="3">
          <div class="booking-cards">
            <div
              class="booking-card"
              *ngFor="let booking of filteredBookings['wednesday']"
            >
              <p class="booking-date">{{ booking.date }}</p>
              <p class="booking-time">{{ booking.time }}</p>
              <div class="booking-status">
                <img
                  *ngIf="booking.status"
                  src="/assets/on-switch.svg"
                  alt="on-switch"
                />
                <img
                  *ngIf="!booking.status"
                  src="/assets/off-switch.svg"
                  alt="off-switch"
                />
                <p *ngIf="booking.status === 'محجوز'" class="not-available">
                  محجوز
                </p>
                <p *ngIf="booking.status === 'غير محجوز'" class="available">
                  غير محجوز
                </p>
              </div>
              <div class="booking-btns">
                <div>
                  <img src="/assets/eye-icon.svg" alt="eye-icon" />
                </div>
                <div>
                  <img src="/assets/edit-icon.svg" alt="edit-icon" />
                </div>
                <div>
                  <img src="/assets/delete-icon.svg" alt="delete-icon" />
                </div>
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="4">
          <div class="booking-cards">
            <div
              class="booking-card"
              *ngFor="let booking of filteredBookings['thursday']"
            >
              <p class="booking-date">{{ booking.date }}</p>
              <p class="booking-time">{{ booking.time }}</p>
              <div class="booking-status">
                <img
                  *ngIf="booking.status"
                  src="/assets/on-switch.svg"
                  alt="on-switch"
                />
                <img
                  *ngIf="!booking.status"
                  src="/assets/off-switch.svg"
                  alt="off-switch"
                />
                <p *ngIf="booking.status === 'محجوز'" class="not-available">
                  محجوز
                </p>
                <p *ngIf="booking.status === 'غير محجوز'" class="available">
                  غير محجوز
                </p>
              </div>
              <div class="booking-btns">
                <div>
                  <img src="/assets/eye-icon.svg" alt="eye-icon" />
                </div>
                <div>
                  <img src="/assets/edit-icon.svg" alt="edit-icon" />
                </div>
                <div>
                  <img src="/assets/delete-icon.svg" alt="delete-icon" />
                </div>
              </div>
            </div>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>

<div
  class="add-new-booking modal"
  *ngIf="isModalOpen && currentModal === 'formContainer'"
>
  <form (ngSubmit)="onSubmitForm()">
    <!-- Row 1 -->
    <div class="form-head">اضافة معاد جديدة</div>
    <app-dateinput label="التاريخ"></app-dateinput>
    <!-- Row 2 -->
    <div class="form-time">
      <app-timeinput label="الوقت علي مدار اليوم"></app-timeinput>
      <app-timeinput></app-timeinput>
      <app-minutesinput label="مده المعاد"></app-minutesinput>
    </div>
    <!-- Row 3 -->
    <div class="form-row">
      <app-selector
        label="الخدمة"
        placeholder="حدد الخدمة"
        name="serviceStatus"
      ></app-selector>
      <app-selector
        label="الفرع"
        placeholder="حدد الفرع"
        name="serviceStatus"
      ></app-selector>
    </div>
    <!-- Row 4 -->
    <div>
      <app-selector
        label="الحالة"
        placeholder="اختر (مفعلة/ معطلة)"
        name="serviceStatus"
      ></app-selector>
    </div>
    <!-- Row 5 -->
    <div class="add-new-booking-btns">
      <div class="form-btn form-exit" (click)="closeModal()">
        <span>الغاء</span>
        <img src="/assets/form-exit.svg" alt="" />
      </div>
      <button type="submit" class="form-btn form-submit-btn">
        <span>حفظ</span> <img src="/assets/form-submit.svg" alt="" />
      </button>
    </div>
  </form>
</div>
